<ng-container *ngFor="let contact of data.contacts | limitTo : 8" class="container">
  <div class="col">
    <div class="post-module">
      <div class="image">
        <img src="{{contact.image}}"/>
      </div>
      <div class="post-content">
        <div class="location">{{contact.location}}</div>
        <h1>{{contact.name}}</h1>
        <h2>{{contact.role}}, {{contact.company}}</h2>
        <p>{{contact.info}}</p>
        {{contact.email}} | <a href="http://www.twitter.com/{{contact.twitter}}">@{{contact.twitter}}</a>
      </div>
    </div>
  </div>
</ng-container>
